body {
  /*padding: 50px;*/
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif; }

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -999;
  display: block;
  /* Thanks http://unsplash.com/ */
  background-image: url("/images/background/bg2.png");
  width: 100%;
  height: 100%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); }

.container {
  padding: 40px;
  padding-bottom: 0px; }

footer {
  text-align: center; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(64, 64, 64, 0.35); }

#map-canvas {
  border: 1px solid #fff;
  height: 600px;
  width: 100%; }

#pac-input {
  position: absolute;
  background-color: #fff;
  padding: 0 11px 0 13px;
  z-index: 100;
  height: 35px;
  margin: 20px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis; }
  #pac-input:focus {
    border-color: #4d90fe;
    width: 401px; }

.pac-container {
  font-family: Roboto; }

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

.error404 {
  font-size: 18vw;
  text-align: center; }

#loading {
  z-index: 1000;
  width: 150px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  -webkit-animation: fadeIn 1s 1;
  -webkit-animation-fill-mode: forwards; }

.wrap {
  -webkit-animation: translate 1000ms infinite ease-in-out alternate, zindex 2000ms infinite ease-in-out;
  position: absolute; }

.ball {
  width: 50px;
  height: 50px;
  box-shadow: -5px -5px 0 rgba(0, 0, 0, 0.15) inset;
  background-color: #E3746B;
  border-radius: 50%;
  -webkit-animation: scale 1000ms infinite ease-in-out alternate;
  -webkit-animation-delay: -500ms;
  -webkit-transform: scale(0.5);
  border: 2px solid black; }

.ball:after {
  content: '';
  width: 50px;
  height: 13px;
  background: #eee;
  position: absolute;
  top: 70px;
  border-radius: 50%; }

#wrap2 {
  -webkit-animation-delay: -1000ms; }

#ball2 {
  background-color: #397BF9;
  -webkit-animation-delay: -1500ms; }

#wrap3 {
  -webkit-animation-delay: -1500ms; }

#ball3 {
  background-color: #F4B400;
  -webkit-animation-delay: -2000ms; }

#wrap4 {
  -webkit-animation-delay: -2500ms; }

#ball4 {
  background-color: #0F9D58;
  -webkit-animation-delay: -3000ms; }

@-webkit-keyframes translate {
  100% {
    -webkit-transform: translateX(100px); } }
@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1); } }
@-webkit-keyframes zindex {
  25% {
    z-index: 1; }

  75% {
    z-index: -1; } }
@-webkit-keyframes fadeIn {
  100% {
    opacity: 1; } }
